{% extends "email_base.html" %}

{% block email_title %}We received your message{% endblock %}

{% block content %}
<h1>Thanks for reaching out, {{ first_name }}.</h1>
<p>
  We've received your message and someone from our team will get back to you
  within one business day.
</p>
<table class="email-info-table" role="presentation">
  <tr>
    <td class="label">Subject</td>
    <td>{{ subject }}</td>
  </tr>
  <tr>
    <td class="label">Name</td>
    <td>{{ first_name }} {{ last_name }}</td>
  </tr>
  <tr>
    <td class="label">Email</td>
    <td>{{ email }}</td>
  </tr>
  {% if phone %}
  <tr>
    <td class="label">Phone</td>
    <td>{{ phone }}</td>
  </tr>
  {% endif %}
  <tr>
    <td class="label">Message</td>
    <td>{{ message }}</td>
  </tr>
</table>
<p>In the meantime, feel free to explore what iRead offers your school at <a href="https://iread.education">iread.education</a>.</p>
{% endblock %}
